@tailwind base;
@tailwind components;
@tailwind utilities;

    .Blog {
        font-family: Montserrat;
        font-size: 28px;
        font-weight: bold;
        color: #003;
    }

    .HOME-BLOG {
        font-family: Montserrat;
        font-size: 16px;
        text-align: right;
        color: #707070;
    }

    .Home-Shop-Blog {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        color: #003;
    }

    .Index-page {
        background-color: #f0f0f0;
        font-family: Montserrat;
    }

    .Rectangle-1 {
        background-color: #fff;
    }

    .Rectangle-2 {
        border-radius: 7px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }

    .Wild-Animals-TM {
        font-family: Montserrat;
        font-size: 33px;
        font-weight: bold;
        color: #003;
    }

    .paginationBtnActive{
        width: 47px;
        height: 47px;
        margin: 6px 11px 12px 0;
        padding: 12px 19px 11px 20px;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #003;
    }
    .paginationBtnActive:hover{
        background-color: #fff;
    }

    .paginationBtnDeactive{
        width: 47px;
        height: 47px;
        margin: 6px 11px 12px 0;
        padding: 12px 19px 11px 20px;
        border-radius: 3px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }

    .paginationBtnDeactive:hover {
        background-color: #003;
    }

